<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>law</string>
		<key>title</key>
		<string>Law</string>
		<key>childs</key>
		<array>
			<dict>
				<key>name</key>
				<string>locationPermit</string>
				<key>title</key>
				<string>Location Permit</string>
				<key>parameter</key>
				<array>
					<dict>
						<key>name</key>
						<string>landCertificate</string>
						<key>title</key>
						<string>Land Cert</string>
						<key>type</key>
						<string>Boolean</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>landBuildingTax</string>
						<key>title</key>
						<string>Land Building Tax</string>
						<key>type</key>
						<string>Boolean</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>neighborhoodRecommendation</string>
						<key>title</key>
						<string>Neighborhood Rec</string>
						<key>type</key>
						<string>Boolean</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>initiatorsID</string>
						<key>title</key>
						<string>Initiator&apos;s ID</string>
						<key>type</key>
						<string>Boolean</string>
						<key>value</key>
						<string></string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>companyPermit</string>
				<key>title</key>
				<string>Company Permit</string>
				<key>parameter</key>
				<array>
					<dict>
						<key>name</key>
						<string>estPaper</string>
						<key>title</key>
						<string>Establishing Paper</string>
						<key>type</key>
						<string>Boolean</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>taxIDNumber</string>
						<key>title</key>
						<string>Tax ID Number</string>
						<key>type</key>
						<string>Boolean</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>workplacePermit</string>
						<key>title</key>
						<string>Workplace Permit</string>
						<key>type</key>
						<string>Boolean</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>chamberRecommendation</string>
						<key>title</key>
						<string>Chamber Rec</string>
						<key>type</key>
						<string>Boolean</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>regLetter</string>
						<key>title</key>
						<string>Reg Letter</string>
						<key>type</key>
						<string>Boolean</string>
						<key>value</key>
						<string></string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>sec</string>
		<key>title</key>
		<string>Social, Economy, Culture</string>
		<key>childs</key>
		<array>
			<dict>
				<key>name</key>
				<string>socialEffect</string>
				<key>title</key>
				<string>Social Effect</string>
				<key>parameter</key>
				<array>
					<dict>
						<key>name</key>
						<string>secAvgSalary</string>
						<key>title</key>
						<string>Average Worker Salary</string>
						<key>type</key>
						<string>Integer</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>secMinRegionalSalary</string>
						<key>title</key>
						<string>Minimum Regional Salary</string>
						<key>type</key>
						<string>Integer</string>
						<key>value</key>
						<string></string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>economy</string>
				<key>title</key>
				<string>Economy</string>
				<key>parameter</key>
				<array>
					<dict>
						<key>name</key>
						<string>secIncomePerCapita</string>
						<key>title</key>
						<string>Income/Capita</string>
						<key>type</key>
						<string>Integer</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>secNationalIncome</string>
						<key>title</key>
						<string>National Income</string>
						<key>type</key>
						<string>Integer</string>
						<key>value</key>
						<string></string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>culture</string>
				<key>title</key>
				<string>Culture</string>
				<key>parameter</key>
				<array>
					<dict>
						<key>name</key>
						<string>secLocalCulture</string>
						<key>title</key>
						<string>Local Culture and Custom</string>
						<key>type</key>
						<string>Integer</string>
						<key>value</key>
						<string></string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>market</string>
		<key>title</key>
		<string>Market</string>
		<key>childs</key>
		<array>
			<dict>
				<key>name</key>
				<string>potential</string>
				<key>title</key>
				<string>Potential</string>
				<key>parameter</key>
				<array>
					<dict>
						<key>name</key>
						<string>marketPastDemandTrend</string>
						<key>title</key>
						<string>Past Demand Trend</string>
						<key>type</key>
						<string>String</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>marketPopulationGrowth</string>
						<key>title</key>
						<string>Population Growth</string>
						<key>type</key>
						<string>Integer</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>secIncomePerCapita</string>
						<key>title</key>
						<string>Income/Capita</string>
						<key>type</key>
						<string>Integer</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>marketConsumerBehaviour</string>
						<key>title</key>
						<string>Consumer Behaviour</string>
						<key>type</key>
						<string>String</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>marketConsumerHabit</string>
						<key>title</key>
						<string>Consumer Habit</string>
						<key>type</key>
						<string>String</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>marketConsumerPreference</string>
						<key>title</key>
						<string>Consumer Preference</string>
						<key>type</key>
						<string>String</string>
						<key>value</key>
						<string></string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>share</string>
				<key>title</key>
				<string>Share</string>
				<key>parameter</key>
				<array>
					<dict>
						<key>name</key>
						<string>marketCompetitionStructure</string>
						<key>title</key>
						<string>Competition Structure</string>
						<key>type</key>
						<string>String</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>marketCompetitionStrategy</string>
						<key>title</key>
						<string>Competition Strategy</string>
						<key>type</key>
						<string>String</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>marketExpansionPossibility</string>
						<key>title</key>
						<string>Expansion Possibility</string>
						<key>type</key>
						<string>String</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>marketSupplyTrend</string>
						<key>title</key>
						<string>Supply Trend</string>
						<key>type</key>
						<string>String</string>
						<key>value</key>
						<string></string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>competition</string>
				<key>title</key>
				<string>Competition</string>
				<key>parameter</key>
				<array>
					<dict>
						<key>name</key>
						<string>marketThreatNewEntrants</string>
						<key>title</key>
						<string>Threat of new entrants</string>
						<key>type</key>
						<string>String</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>marketThreatSubsProduct</string>
						<key>title</key>
						<string>Threat of Substitution Product</string>
						<key>type</key>
						<string>String</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>marketBuyerBargaining</string>
						<key>title</key>
						<string>Buyer bargaining</string>
						<key>type</key>
						<string>String</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>marketSupplierBargaining</string>
						<key>title</key>
						<string>Supplier Bargaining</string>
						<key>type</key>
						<string>String</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>marketFirmsRivalry</string>
						<key>title</key>
						<string>Rivalry among existing firm</string>
						<key>type</key>
						<string>String</string>
						<key>value</key>
						<string></string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>strategy</string>
				<key>title</key>
				<string>Strategy</string>
				<key>parameter</key>
				<array>
					<dict>
						<key>name</key>
						<string>marketLeadershipCost</string>
						<key>title</key>
						<string>Overall cost leadership</string>
						<key>type</key>
						<string>Integer</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>marketDifferentiation</string>
						<key>title</key>
						<string>Differentiation</string>
						<key>type</key>
						<string>String</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>marketFocus</string>
						<key>title</key>
						<string>Focus</string>
						<key>type</key>
						<string>String</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>marketProductLifecycle</string>
						<key>title</key>
						<string>Product Lifecycle</string>
						<key>type</key>
						<string>String</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>marketMarketingMix</string>
						<key>title</key>
						<string>Marketing Mix</string>
						<key>type</key>
						<string>String</string>
						<key>value</key>
						<string></string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>technical</string>
		<key>title</key>
		<string>Technical</string>
		<key>childs</key>
		<array>
			<dict>
				<key>name</key>
				<string>location</string>
				<key>title</key>
				<string>Location</string>
				<key>parameter</key>
				<array>
					<dict>
						<key>name</key>
						<string>techWorkforceAvail</string>
						<key>title</key>
						<string>Workforce Availibility</string>
						<key>type</key>
						<string>Boolean</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>techTransportAvail</string>
						<key>title</key>
						<string>Transportation Availibility</string>
						<key>type</key>
						<string>Boolean</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>techTelecomAvail</string>
						<key>title</key>
						<string>Telecommunication Availibility</string>
						<key>type</key>
						<string>Boolean</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>techWaterAvail</string>
						<key>title</key>
						<string>Water Availibility</string>
						<key>type</key>
						<string>Boolean</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>techElectricityAvail</string>
						<key>title</key>
						<string>Electricity Availibility</string>
						<key>type</key>
						<string>Boolean</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>techMaterialAvail</string>
						<key>title</key>
						<string>Material Availibility</string>
						<key>type</key>
						<string>Boolean</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>techTargetMarketDistance</string>
						<key>title</key>
						<string>Distance to target market</string>
						<key>type</key>
						<string>Integer</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>techClimateLandCondition</string>
						<key>title</key>
						<string>Climate and Land condition</string>
						<key>type</key>
						<string>String</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>techFutureDevPossibility</string>
						<key>title</key>
						<string>Future Development Possibility</string>
						<key>type</key>
						<string>Boolean</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>techGovtPolicy</string>
						<key>title</key>
						<string>Government Policy</string>
						<key>type</key>
						<string>String</string>
						<key>value</key>
						<string></string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>buildingModel</string>
				<key>title</key>
				<string>Building Model</string>
				<key>parameter</key>
				<array>
					<dict>
						<key>name</key>
						<string>techBuildingCost</string>
						<key>title</key>
						<string>Building Cost</string>
						<key>type</key>
						<string>Integer</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>techBuildingSecurity</string>
						<key>title</key>
						<string>Building Security</string>
						<key>type</key>
						<string>String</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>techBuildingComfort</string>
						<key>title</key>
						<string>Building Comfortability</string>
						<key>type</key>
						<string>String</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>techBuildingRoom</string>
						<key>title</key>
						<string>Room necessity</string>
						<key>type</key>
						<string>Integer</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>techBuildingComm</string>
						<key>title</key>
						<string>Communication System</string>
						<key>type</key>
						<string>Boolean</string>
						<key>value</key>
						<string></string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>machineryToolsTech</string>
				<key>title</key>
				<string>Machinery, Tools, Technology</string>
				<key>parameter</key>
				<array>
					<dict>
						<key>name</key>
						<string>techSupplierAvail</string>
						<key>title</key>
						<string>Supplier Availibility</string>
						<key>type</key>
						<string>Boolean</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>techSparepartAvail</string>
						<key>title</key>
						<string>Sparepart Availibility</string>
						<key>type</key>
						<string>Boolean</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>techMachineCapacity</string>
						<key>title</key>
						<string>Machine Capacity</string>
						<key>type</key>
						<string>Integer</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>techMachineQuality</string>
						<key>title</key>
						<string>Machine Quality</string>
						<key>type</key>
						<string>String</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>techMachineUsageTime</string>
						<key>title</key>
						<string>Machine Usage Time</string>
						<key>type</key>
						<string>Integer</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>techWorkforceKnowledge</string>
						<key>title</key>
						<string>Workforce Knowledge</string>
						<key>type</key>
						<string>String</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>techMaterialProductionMatch</string>
						<key>title</key>
						<string>Material - production process match</string>
						<key>type</key>
						<string>Boolean</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>techApplicationSuccess</string>
						<key>title</key>
						<string>Technology application success story</string>
						<key>type</key>
						<string>String</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>techNextGenAnticipation</string>
						<key>title</key>
						<string>Next generation technology anticipation ability</string>
						<key>type</key>
						<string>String</string>
						<key>value</key>
						<string></string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>layout</string>
				<key>title</key>
				<string>Layout</string>
				<key>parameter</key>
				<array>
					<dict>
						<key>name</key>
						<string>techLayoutCompatible</string>
						<key>title</key>
						<string>Layout compatibility</string>
						<key>type</key>
						<string>String</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>techLayoutOptimalRoom</string>
						<key>title</key>
						<string>Optimal room usage</string>
						<key>type</key>
						<string>Boolean</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>techLayoutExpansionEase</string>
						<key>title</key>
						<string>Expansion ease</string>
						<key>type</key>
						<string>Boolean</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>techLayoutProductionCostMin</string>
						<key>title</key>
						<string>Minimal production cost</string>
						<key>type</key>
						<string>Boolean</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>techLayoutWorkforceSafe</string>
						<key>title</key>
						<string>Workforce safety</string>
						<key>type</key>
						<string>Boolean</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>techLayoutProcessTransition</string>
						<key>title</key>
						<string>Smooth process transition</string>
						<key>type</key>
						<string>String</string>
						<key>value</key>
						<string></string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>operationScale</string>
				<key>title</key>
				<string>Operation Scale</string>
				<key>parameter</key>
				<array>
					<dict>
						<key>name</key>
						<string>techScaleMarketShareDev</string>
						<key>title</key>
						<string>Market share development possibility</string>
						<key>type</key>
						<string>Boolean</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>techScaleHRQuantity</string>
						<key>title</key>
						<string>Human resource quantity</string>
						<key>type</key>
						<string>Integer</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>techScaleHRQuality</string>
						<key>title</key>
						<string>Human resource quality</string>
						<key>type</key>
						<string>String</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>techScaleFinancialStrength</string>
						<key>title</key>
						<string>Company&apos;s financial strength</string>
						<key>type</key>
						<string>String</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>techScaleTechChange</string>
						<key>title</key>
						<string>Changing production technology possibility</string>
						<key>type</key>
						<string>Boolean</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>techMachineCapacity</string>
						<key>title</key>
						<string>Machine capacity</string>
						<key>type</key>
						<string>Integer</string>
						<key>value</key>
						<string></string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>management</string>
		<key>title</key>
		<string>Management</string>
		<key>childs</key>
		<array>
			<dict>
				<key>name</key>
				<string>developmentTime</string>
				<key>title</key>
				<string>Development Time</string>
				<key>parameter</key>
				<array>
					<dict>
						<key>name</key>
						<string>managementWorkType</string>
						<key>title</key>
						<string>Work type</string>
						<key>type</key>
						<string>String</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>managementWorkSequence</string>
						<key>title</key>
						<string>Work sequence</string>
						<key>type</key>
						<string>String</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>managementTimeAndCost</string>
						<key>title</key>
						<string>Time and cost</string>
						<key>type</key>
						<string>String</string>
						<key>value</key>
						<string></string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>projectExecutor</string>
				<key>title</key>
				<string>Project Executor</string>
				<key>parameter</key>
				<array>
					<dict>
						<key>name</key>
						<string>managementContractorQuality</string>
						<key>title</key>
						<string>Contractor quality</string>
						<key>type</key>
						<string>String</string>
						<key>value</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>managementDeveloperQuality</string>
						<key>title</key>
						<string>Developer quality</string>
						<key>type</key>
						<string>String</string>
						<key>value</key>
						<string></string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>operationManagement</string>
				<key>title</key>
				<string>Operation Management</string>
				<key>parameter</key>
				<array>
					<dict>
						<key>name</key>
						<string>managementExecutorQuality</string>
						<key>title</key>
						<string>Executor quality</string>
						<key>type</key>
						<string>String</string>
						<key>value</key>
						<string></string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
